:root {
  --secondary-light: 56, 99, 151;

  --rl-blue: #00179e;
  --rl-orange: #c65209;
}

.blue {
  color: var(--rl-blue);
  fill: var(--rl-blue);
}

.orange {
  color: var(--rl-orange);
  fill: var(--rl-orange);
}

html {
  padding: 1rem;
  max-width: 55rem;
  margin-inline: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rl-blue: #0075BF;
    --background-clr: hsl(0, 0%, 7%);
    --foreground-clr: hsl(0, 0%, 100%);
  }

  /* Remove once supported by firefox */
  @supports not (color-scheme: dark) {
    html {
      background-color: var(--background-clr);
      color: var(--foreground-clr);
    }

    a {
      color: rgb(158, 158, 255);
    }

    a:active {
      color: rgb(255, 158, 158);
    }
  }
}

/* pure css */
button,
.btn {
  display: inline-block;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: none rgba(0, 0, 0, 0);
  background-color: #e6e6e6;
  text-decoration: none;
  border-radius: 2px;
}

button:hover,
button:focus,
.btn:hover,
.btn:focus {
  background-image: linear-gradient(
    transparent,
    rgba(0, 0, 0, 0.05) 40%,
    rgba(0, 0, 0, 0.1)
  );
}

button:focus,
.btn:focus {
  outline: 0;
}

button.active,
.btn:active {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
    0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000;
}

button[disabled],
.btn[disabled] {
  border: none;
  background-image: none;
  opacity: 0.40;
  cursor: not-allowed;
  box-shadow: none;
}

input[type="checkbox"]:focus {
  outline: thin solid #129FEA;
  outline: 1px auto #129FEA;
}

/* open props */
:root {
  --red-4: #ff8787;
  --red-6: #fa5252;
}

/* tailwind */
.grid {
  display: grid;
}

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.place-items-center {
  place-items: center;
}

.gap {
  gap: 8px;
}

.font-bold {
  font-weight: 700;
}

.text-2xl {
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-7xl {
  font-size: 4.5rem;
  line-height: 1;
}

.my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}