[package]
name = "rl-wasm"
version = "0.1.0"
authors = ["Nick Babcock <nbabcock19@hotmail.com>"]
edition = "2018"

[lib]
crate-type = ["cdylib"]

[dependencies]
wasm-bindgen = "0.2.58"
boxcars = "0.6"
serde_json = "1.0"

[profile.release]
lto = true
opt-level = 'z'
