@import url(sanitize.css);

:root {
  --rlBlue: #00179e;
  --rlOrange: #c65209;
}

html {
  background-color: #eeeeee;
  height: 100%;
}

body {
  padding: 4rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  min-height: 100%;
}

button,
.sue-button {
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: transparent;
  background-color: #e6e6e6;
  border-radius: 2px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0.1)
    );
  }

  &:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
      0 0 6px rgba(0, 0, 0, 0.2) inset;
  }
}

input[type="file"] {
  display: none;
}

.hover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(100, 100, 100, 0.2);
  border-color: #50adff;
  border-style: solid;
  border-width: 10px;
}

.button-primary {
  color: white;
  background-color: #0078e7;
}

.teamScores {
  margin-top: 2rem;
  font-size: 80px;
  text-align: center;
}

.teamScoreLabel {
  font-size: 24px;
}

.rlBlue {
  color: var(--rlBlue);
}

.rlOrange {
  color: var(--rlOrange);
}

a.rlBlue,
a.rlOrange {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.rlGraph text {
  fill: #666a73;
}
