@import url(sanitize.css);

html {
  background-color: #eeeeee;
  height: 100%;
}

body {
  padding: 4rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  min-height: 100%;
}

.teamScores {
  margin-top: 2rem;
  font-size: 80px;
  text-align: center;
}

.teamScoreLabel {
  font-size: 24px;
}

.rlBlue {
  color: #00179e;
}

.rlOrange {
  color: #c65209;
}
