@import url(sanitize.css);

:root {
  --rlBlue: #00179e;
  --rlOrange: #c65209;
}

html {
  background-color: #eeeeee;
  height: 100%;
}

body {
  padding: 4rem;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 65rem;
  min-height: 100%;
}

button {
  font-size: 100%;
  padding: 0.5em 1em;
  color: rgba(0, 0, 0, 0.8);
  border: transparent;
  background-color: #e6e6e6;
  border-radius: 2px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-image: linear-gradient(
      transparent,
      rgba(0, 0, 0, 0.05) 40%,
      rgba(0, 0, 0, 0.1)
    );
  }

  &:active {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset,
      0 0 6px rgba(0, 0, 0, 0.2) inset;
  }
}

.teamScores {
  margin-top: 2rem;
  font-size: 80px;
  text-align: center;
}

.teamScoreLabel {
  font-size: 24px;
}

.rlBlue {
  color: var(--rlBlue);
}

.rlOrange {
  color: var(--rlOrange);
}

a.rlBlue,
a.rlOrange {
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.rlGraph text {
  fill: #666a73;
}
